body {
    margin: 0;
}

/*Navegador*/

nav.bg-morado {
    background-color: #660066;
}

a.navbar-brand {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

/*Encabezado*/

.hero-section {
    background-image: url(../img/hero-section.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

header hr {
    width: 150px;
    height: 2px;
}

header div {
    padding-top: 400px;
}

header h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    font-weight: 200;
}

header h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    font-weight: 700;
}

/*seccion de descripcion*/

#descripcion hr {
    width: 100px;
    height: 1px;
}

#descripcion .descripcion {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600px;
    font-size: 25px;
    font-weight: bold;
    color: #373A3C;
}

#descripcion .parrafos {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400px;
    font-size: 16px;
    color: #373A3C;
}

/* mis estudios */

#estudios img {
    width: 200px;
    height: 150px;
}

#estudios hr {
    width: 150px;
    height: 1px;
}

#estudios h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: #373A3C;
}

#estudios h5 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #373A3C;
}

#estudios p {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 200;
    color: #373A3C;
}

/* mis trabajos */
#trabajos {
    background-color: #660066;
}

#trabajos img {
    width: 316px;
    height: 180px;
}

#trabajos h5 {
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: #373A3C;
}

#trabajos p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300px;
    font-size: 16px;
    color: #373A3C;
}

/* seccion de contacto */
#contacto hr {
    width: 150px;
    height: 1px;
}

#contacto h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: #373A3C;
}